  
.main{
  margin-left:285px;

}

.container {
  font-family: Jost;
  overflow: scroll;
  background: #eee;
  
 
}
form{
  background: white;
  width:100%;
  height: 100%; 
}
h3{
  color: rgb(26, 161, 26);
  text-indent: 25px;
  font-size: 2em;
}
.form-group{
  display:flex;
  flex-direction: row;
  margin-bottom: 30px;
  text-indent: 50px;
  white-space: nowrap;

}
.form-group span{
  margin-bottom: 10px;
}
.form-group label{
  width: 250px;
}
input,textarea{
  border: 1px solid #d0d2e2;
  line-height: 2;
}
button{
  width:8%;
  color: white;
  background: rgb(35, 202, 35);
  border: none;
  font-size: 15px;
  margin-left: 33%; 
}
.btn-primary.btn:hover{
  background: #28ec32;
}
a:link{
  text-decoration: none;
  color: aliceblue;
}
.form-text{
  width:800px;
}
.tab-content{
  margin-left:35px;
  height:1300px;
 
}
