.container{
    margin-left:10%;
    margin-right:10%;
    border: 1px solid rgb(216, 210, 216);
    box-shadow: 1px 1px 3px 3px rgb(225, 228, 228);
    }

.first {
height: 60px;
width: 50px;
}
img{
max-width: 100%;
max-height: 100%;
display: block;
}
.firsts{
margin-top:-45px;
margin-bottom:20px;
margin-left:70px;
font-size:large;


}
.second{
margin-top:-35px;
width:100%;
height: 300px;
background-image: url('image/second.jpg');
background-repeat: no-repeat;
filter: brightness(0.80);

}
.third{
width:100%;
height: 30px;

}
.bothlogin{
display:flex;
}
.btn{
margin-left:75%;
margin-top:10px;
border: 2px solid rgb(245, 82, 228);
background-color: rgb(247, 247, 247);
color:rgb(246, 21, 242);
font-size: 15px;
box-shadow: 2px 2px 3px 3px rgb(206, 176, 206);
border-radius: 5px;
}
.admin{
margin-left:5%;
margin-top:17px;
border: 2px solid rgb(245, 82, 228);
background-color: rgb(247, 247, 247);
color:rgb(246, 21, 242);
font-size: 15px;
box-shadow: 2px 2px 3px 3px rgb(206, 176, 206);
border-radius: 5px;
}
.admintext{
text-decoration: none;
}
.fourth{
width:100%;
height: 150px;
background-image: url('image/fourth.jpg'); 
filter: brightness(0.80);
}
.gap{
width:100%;
height: 40px; 
}
.imga{
width:80%;
height: 250px;
background-image: url('image/imga.jpg'); 
margin-left:10%;
border-radius:5px;
}
.imgb{
width:80%;
height: 250px;
background-image: url('image/imgb.jpg'); 
margin-left:10%;
border-radius:5px;
}
.imgc{
width:80%;
height: 250px;
background-image: url('image/imgc.jpg'); 
margin-left:10%;
border-radius:5px;
}
.imgd{
width:80%;
height: 250px;
background-image: url('image/imgd.jpg'); 
margin-left:10%;
border-radius:5px;
}

.containera{
display:grid;
grid-template-columns: 30% 20% 30% 20%;
}
.texta{
text-align: left;
color:rgb(246, 21, 242);
font-weight: bold;
padding-bottom:10px;
}
.textb{
text-align: justify;
margin-right:10%;
}
.question{
text-align: center;
font-weight: bold;
font-size: 25px;
}
.questiontext{
text-align: center;
}
.book{
background-color: rgb(246, 21, 242);
border: 1px solid rgb(255, 3, 238);
color:azure;
font-weight: bold;
width:20%;
margin-left:40%;
margin-top:3px;
box-shadow: 2px 2px 3px 3px rgb(206, 176, 206);
border-radius: 5px;
}
hr.line{
border-top: 1px dashed rgb(195, 186, 186);
}
.secondtexta{
color: rgb(252, 243, 243);
font-weight: bold;
font-size:50px;  
text-align: center;
padding-top:80px;

}
.secondtextb{
color: rgb(255, 255, 255);
font-weight: bold;
font-size:20px;  
text-align: center;
}
.secondtextc{
padding-top:30px;
color: rgb(255, 255, 255);
font-weight: bold;
font-size:35px; 
text-align: center; 
}
.secondtextd{
color: rgb(255, 255, 255);
font-weight: bold;
font-size:15px;  
text-align: center;
}
.book:hover {
box-shadow: 0 12px 16px 0 rgba(235, 14, 243, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:hover {
box-shadow: 0 12px 16px 0 rgba(235, 14, 243, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.admin:hover {
box-shadow: 0 12px 16px 0 rgba(235, 14, 243, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
