.logo{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
}
a:link{

text-decoration: none;
list-style:decimal-leading-zero  
}
#menu{ 
position: absolute;
width: 327px;
height: 857px;
left: -10px;
top: -10px;
background: #09b5f9;
text-align: left;
font-size: 35px;
color: rgb(0, 0, 0);

}

#content{
    position: relative;
    width: 1230px;
    height: 846px;
    left: 309px;
    top: -7px;
    background: #096593;
    display: flex;
}
.logout{
    position:fixed;
    margin-right: 0;
    margin-left: 60%;
    margin-top: -4%; 
   
}

.package_main{
    position: absolute;
    display: grid;
    
}
.title{
    position: relative;
    width: 1236px;
    text-align: center;
    /* background: #C4C4C4; */
    }


.items{
    color: red;
}